/* css con buenas prácticas */

/* Establecer conecciones iniciales */
/* 1. Importaciones de Tipografia */ 
/* 2. Definir las variables que va a utilizar */

@import url('https://fonts.cdnfonts.com/css/exo-3');

:root{
  --color-fondo: #C4E5F2;
  --color-texto:#0c0634;
  --color-enfasis:#4369D9;
  --color-enfasis2:#4973F2;
  --tamaño-títulos: 30px;
}


*{
    margin: 0;
}


body{
    /*Esos estilos que se aplican a todo*/
font-family: 'Exo', sans-serif;  
background-color:var(--color-fondo);
color:var(--color-texto);
/*Quitar Scroll*/
overflow-x:hidden;

}



/* -----------HEADER-----------*/
header{
    /*ancho*/
    width:96.5vw ;/*viewport width*/
    /*alto*/
    height: 10vh;/*viewport heigth*/
    background-color: var(--color-enfasis);
    margin: 15px;/*margen exterior*/
    border-radius: 14px;
}

nav{
    display: flex;/* Atributo que me indica como se muestran los elementos*/
    justify-content: center;/* centrar en horizontal*/
    align-items: center;/* centrar en vertical es decir arriba abajo*/
    }

    
.lista{
    display: flex;
    gap: 30px;
    list-style: none; /* propiedad de los ol y ul*/

    }

.logo{
    width: 60px;
    height: 60px;
}

a {color: var(--color-fondo);
    text-decoration: none;

}


/*------------MAIN------------*/

main{
    border: solid;
    width: 88vw;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

h1, h2{
    /*alineacion del texto*/
    text-align: center;
    font-size: 30px;
    
}

.contenedor{
    background-color: var(--color-enfasis2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px; /*margen interno*/
    gap: 20px;
}

.semantica {
    width: 58%;
    border-radius: 15px;
}

/*------------FOOTER-----------*/