body {
    background-color: lightgray;
}

/* CSS regla de estilo en cascada */

/* Selectores*/


h1 {
    text-align: center;
    /* texto alineado */
    color: rgb(2, 2, 39);
    /* color del texto*/
}

.parrafo-1 {
    background-color: rgba(245, 124, 124, 0.64);
    font: size -24px;

}

.parrafoLargo { background-color: beige;
font: size 20px;
}

